.sortButton {
  width: 100%;
  height: 40px; /* as ROW_HEIGHT */
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}

.arrow {
  font-size: 12px;
}
