.table-head {
  width: 100%;
  font-family: Arial, sans-serif;
  table-layout: fixed;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #ffffff;
}

.table-head th {
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
  cursor: pointer;
}
