.table-body {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.table-body td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}
